<% provide(:title, "About") %>
<h1>Andrew Carmer</h1>
<p>I am currently studying at <a href="https://turing.io">Turing School of Software and Design.</a> and will finish classes in August 2015.
  Before attending Turing School, I worked for nearly a decade in food/beverage and hospitality services. I was last employed as an Assistant Manager and Bartender at <a href="https://hornetrestaurant.com">The Hornet Restaurant</a>
  on South Broadway in Denver. I also attended <a href="purdue.edu">Purdue University</a>2006-2008, and <a href="www.ucdenver.edu/">the University of Colorado Denver</a> 2011-2014 where I studied Information Technologies Management.
  My hobbies include skiing, music, gardening, cooking and making things. I try to live by the motto "Learn, Live, Think, Build, Do."
</p>
