<div class="center jumbotron">
  <h1>Carmer</h1>
  <h2>This is the homepage for the creator of this app,<a href="http://andrewcarmer.com"> Andrew Carmer</a></h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>

  <p>Welcome to my Home page. I am
    <a href="http://www.andrewcarmer.com">Andrew Carmer</a>, an aspiring software
    engineer.
  </p>
